name: build
on: [push]
jobs:
    linux-gcc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
              with:
                fetch-depth: 1
            - name: make project
              working-directory: projects
              run: |
                ./genie gmake
            - name: build engine
              shell: bash
              run: |
                make
    
